#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #d69754;
}

#title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar {
  display: inline-block;
  justify-items: stretch;
  gap: 1 rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: xx-large;
  padding: 10%;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: orange;
}
.navbar-navbarButtons {
  display: inline-block;
  justify-items: center;
  padding-right: 80%;
}

#navbarButtons {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

#cheesesOnTable {
  max-height: 80%;
  max-width: 80%;
  display: flexbox;
  justify-content: center;
  border-radius: 20%;
}

#rights {
  padding-top: 10%;
}

.comp {
  color: antiquewhite;
}

#compAddress a,
#compEmail a,
#compPhone a {
  color: white;
}

#compAddress a:hover,
#compEmail a:hover,
#compPhone a:hover {
  color: orange;
}
