#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: inline-block;
  justify-items: stretch;
  gap: 1 rem;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  padding: 10%;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: orange;
}

#cheesesOnTable {
  max-height: 50%;
  max-width: 50%;
  display: flexbox;
  justify-content: normal;
}

.pics {
  display: flex;
  padding: 2 rem;
  border-radius: 80%;
}
